<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleStorage Webpage</title>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
    
</head>
<body>
    <h1>SimpleStorage Webpage</h1>
    <button id="setButton">Set Stored Data to 42</button>
    <button id="getButton">Get Stored Data</button>
    <div id="result"></div>
    <script src="static/app.js"></script>
</body>
</html>
